/* Creating and Using Variables */
    
$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #ab99ca;
$spacing: 2rem;
$dark-grey: #999;

$default-color: #222222;
$primary-color: #008374;
$secondary-color: #f85a40;

$font-weight-6 : 600;
$font-weight-7 : 700;
$font-weight-4 : 400;