/* file import */

@import 'variables';
@import 'mixins';

/* Hoe to use "&" 
.card {
    margin: 2rem;
    &_dark {
        background-color: black;
    }
}
&.class2 or & class2
*/

body {
    font-family: $fonts; /* variable usage */
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

